.products
{
    display: flex;
    max-width: 100vw;
    align-items: stretch;
    overflow: hidden;
}
.productsSidebar {
    height: 100%;
    flex-grow: 0;
    max-width: 20vw;
}
.productsForCategories {
    padding: 1em;
    height: 100%;
    flex-grow: 1;
    max-width: 80vw;
}
